<h1 class="text-center "> exam hall authentication system</h2>

<div class="container">
  <div class="center_div">

  <%= image_tag 'icons8-marker-64' , class: 'center_element-img'%><br/>

  <%= link_to 'Verify','#', :class => 'btn btn-success center_element-btn' %>
  </div>

</div>
