@mixin animation-path($duration, $delay) {
  fill-opacity: 0;
  stroke: #fff;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-dasharray: 100px;
  stroke-dashoffset: 100px;
  animation-name: drawIt;
  animation-duration: $duration;
  animation-iteration-count: 1;
  animation-delay: $delay;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
 
}

svg {
  max-width: 50%;
  max-height: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  &.restart {

    path,
    circle,
    .drop {
      animation: none !important
    }
  }

  path {
    @include  animation-path(1.5s,0)
  }

  circle {
    @include  animation-path(1.5s,.25s)
  }

  .drop {
    fill: white;
    opacity: 0;
    stroke-width: 0;
    fill-opacity: 1;
    animation-name: fadeIn;
    animation-delay: .75s;
    animation-duration: .35s;
  }
}

@keyframes drawIt {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}