// @import "materialize/components/color-variables";
// $primary-color: color("blue", "lighten-2") !default;
// $secondary-color: color("yellow", "base") !default;
// @import "materialize"
@import "bootstrap";
@import "animation";
@import "students";
@import "border";
@import "home";

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body {
  &.restart {
    svg {

      path,
      circle,
      .drop {
        animation: none !important
      }
    }
  }
}

button {
  font-size: 16px;
}

.center_div{
  position: relative;
  height: 70vh;

   .center_element-img {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     margin-bottom: 2rem;
   }

  .center_element-btn {
    position: absolute;
    bottom: -35%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 10rem;
  }
}




