// @import "materialize/components/color-variables";
// $primary-color: color("blue", "lighten-2") !default;
// $secondary-color: color("yellow", "base") !default;
// @import "materialize"
@import "bootstrap";

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.student_p{
  font-size: x-large;
}

.student_profile-img{
  width: 300px;
  height: 320px;
  margin-bottom: 2rem;
  border: 2px solid whitesmoke;

}

.student_h1-text{
  margin-bottom: 2rem
}

body{
  background-color: #0d47a1;
  color: whitesmoke;
}
.not_qualified {
  background-color: red;
}
.qualify{
  background-color: green;
}
h1{
  letter-spacing:5px;
  font-weight: 400;
  text-transform:capitalize;

}

.double-border {
  background-color: inherit;
  border-top: 1px solid #fff;
  padding: 2em;
  width: inherit;
  height: 90vh;
  position: relative;
  margin: 20px;

  &:before {
  background: none;
  border-top: 1px solid #fff;
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  pointer-events: none;
  }
}

.double-border-left {
  background-color: inherit;
  border-left: 1px solid #fff;
  padding: 2em;
  width: inherit;
  height: 90vh;
  position: relative;
  margin: 20px;

  &:before {
  background: none;
  border-left: 1px solid #fff;
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  pointer-events: none;
}

}

.center_div{
  position: relative;
  height: 70vh;

   .center_element-img {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     margin-bottom: 2rem;
   }

  .center_element-btn {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 2rem;
  }
}



.double-border-right {
  background-color: inherit;
  border-right: 1px solid #fff;
  padding: 2em;
  width: inherit;
  height: 90vh;
  position: relative;
  margin: 20px;

  &:before {
  background: none;
  border-right: 1px solid #fff;
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  pointer-events: none;
}

}

.home{
  position:relative;
  &_login{
  width: 45%;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

}

