.double-border {
  background-color: inherit;
  border-top: 1px solid #fff;
  padding: 2em;
  width: inherit;
  height: 90vh;
  position: relative;
  margin: 20px;

  &:before {
  background: none;
  border-top: 1px solid #fff;
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  pointer-events: none;
  }
}

.double-border-left {
  background-color: inherit;
  border-left: 1px solid #fff;
  padding: 2em;
  width: inherit;
  height: 90vh;
  position: relative;
  margin: 20px;

  &:before {
  background: none;
  border-left: 1px solid #fff;
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  pointer-events: none;
}

}

.double-border-right {
  background-color: inherit;
  border-right: 1px solid #fff;
  padding: 2em;
  width: inherit;
  height: 90vh;
  position: relative;
  margin: 20px;

  &:before {
  background: none;
  border-right: 1px solid #fff;
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  pointer-events: none;
}

}